@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/***
    The new CSS reset - version 1.11.3 (last updated 25.08.2024)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

a, button {
  cursor: revert;
}

ol, ul, menu, summary {
  list-style: none;
}

ol {
  counter-reset: revert;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

table {
  border-collapse: collapse;
}

input, textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

:where(pre) {
  all: revert;
  box-sizing: border-box;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

::-webkit-details-marker {
  display: none;
}

.text-primary {
  color: #3b30a4;
}

.bg-primary {
  background-color: #3b30a4;
}

.btn-primary {
  background-color: #3b30a4;
  color: #fff;
}

.text-secondary {
  color: #777d82;
}

.bg-secondary {
  background-color: #777d82;
}

.btn-secondary {
  background-color: #777d82;
  color: #fff;
}

.text-success {
  color: #28a745;
}

.bg-success {
  background-color: #28a745;
}

.btn-success {
  background-color: #28a745;
  color: #fff;
}

.text-danger {
  color: #dc3545;
}

.bg-danger {
  background-color: #dc3545;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
}

.text-warning {
  color: #ffc107;
}

.bg-warning {
  background-color: #ffc107;
}

.btn-warning {
  background-color: #ffc107;
  color: #fff;
}

.text-info {
  color: #17b6ce;
}

.bg-info {
  background-color: #17b6ce;
}

.btn-info {
  background-color: #17b6ce;
  color: #fff;
}

.text-dark {
  color: #000;
}

.bg-dark {
  background-color: #000;
}

.btn-dark {
  background-color: #000;
  color: #fff;
}

.text-light {
  color: #fff;
}

.bg-light {
  background-color: #fff;
}

.btn-light {
  background-color: #fff;
  color: #fff;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-black {
  font-weight: 900;
}

.text-xs {
  font-size: 0.75rem;
}

.text-sm {
  font-size: 0.875rem;
}

.text-md {
  font-size: 1rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-xl {
  font-size: 1.25rem;
}

.text-2xl {
  font-size: 1.5rem;
}

.text-3xl {
  font-size: 2rem;
}

.margin-none {
  margin: 0;
}

.margin-top-none {
  margin-top: 0;
}

.margin-right-none {
  margin-right: 0;
}

.margin-bottom-none {
  margin-bottom: 0;
}

.margin-left-none {
  margin-left: 0;
}

.margin-sm {
  margin: 0.5rem;
}

.margin-top-sm {
  margin-top: 0.5rem;
}

.margin-right-sm {
  margin-right: 0.5rem;
}

.margin-bottom-sm {
  margin-bottom: 0.5rem;
}

.margin-left-sm {
  margin-left: 0.5rem;
}

.margin-md {
  margin: 1rem;
}

.margin-top-md {
  margin-top: 1rem;
}

.margin-right-md {
  margin-right: 1rem;
}

.margin-bottom-md {
  margin-bottom: 1rem;
}

.margin-left-md {
  margin-left: 1rem;
}

.margin-lg {
  margin: 1.5rem;
}

.margin-top-lg {
  margin-top: 1.5rem;
}

.margin-right-lg {
  margin-right: 1.5rem;
}

.margin-bottom-lg {
  margin-bottom: 1.5rem;
}

.margin-left-lg {
  margin-left: 1.5rem;
}

.margin-xl {
  margin: 2rem;
}

.margin-top-xl {
  margin-top: 2rem;
}

.margin-right-xl {
  margin-right: 2rem;
}

.margin-bottom-xl {
  margin-bottom: 2rem;
}

.margin-left-xl {
  margin-left: 2rem;
}

form {
  max-width: 600px;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 8px;
}
form label {
  display: inline-block;
  background-color: #3b30a4;
  color: #fff;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  margin-bottom: 0.25rem;
  font-weight: 600;
}
form input,
form textarea,
form select {
  width: 100%;
  display: block;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  border: 1px solid #777d82;
  border-radius: 4px;
  font-size: 1rem;
  font-family: inherit;
}
form input::placeholder,
form textarea::placeholder,
form select::placeholder {
  color: #777d82;
}
form textarea {
  resize: vertical;
}

.list {
  margin: 1rem 0;
}
.list li {
  padding: 0.5rem;
  margin-bottom: 0.25rem;
  border: 1px solid #777d82;
  border-radius: 4px;
  list-style-position: inside;
}

.list-unstyled {
  margin: 1rem 0;
}
.list-unstyled li {
  padding: 0.5rem;
  margin-bottom: 0.25rem;
  border: 1px solid #777d82;
  border-radius: 4px;
  list-style-position: inside;
}
.list-unstyled {
  list-style-type: none;
}

.list-ordered {
  margin: 1rem 0;
}
.list-ordered li {
  padding: 0.5rem;
  margin-bottom: 0.25rem;
  border: 1px solid #777d82;
  border-radius: 4px;
  list-style-position: inside;
}
.list-ordered {
  list-style-type: decimal;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1.5rem;
}
.table th, .table td {
  border: 1px solid #777d82;
  padding: 0.5rem;
  text-align: left;
}
.table th {
  background-color: #3b30a4;
  color: #fff;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #777d82;
  border-radius: 8px;
  overflow: hidden;
}
.card img {
  width: 100%;
  height: auto;
}
.card .card-header {
  font-size: 1.125rem;
  font-weight: 600;
}
.card .card-body {
  padding: 1rem;
  font-size: 1rem;
  color: #777d82;
}
.card .card-body button {
  margin-top: 1rem;
  width: 100%;
}

body {
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 400;
}

h1 {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

button {
  display: block;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background-color: #3b30a4;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.container {
  width: min(1200px, 90%);
  margin: 1rem auto;
  padding: 1rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

.flex {
  display: flex;
}

.flex-spacebetween {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

/*# sourceMappingURL=sassframe.css.map */
