@use "sass:map";

$blue: #007bff;
$gray: #6c757d;
$green: #28a745;
$red: #dc3545;
$yellow: #ffc107;
$lightblue: #17a2b8;
$black: #000;
$white: #fff;

$colors: (
    'primary': $blue,
    'secondary': $gray,
    'success': $green,
    'danger': $red,
    'warning': $yellow,
    'info': $lightblue,
    'dark': $black,
    'light': $white,
);

@each $name, $color in $colors {
    .text-#{$name} {
        color: $color;
    }
    .bg-#{$name} {
        background-color: $color;
    }
    .btn-#{$name} {
        background-color: $color;
        color: #fff;
    }
}