@use "sass:map";
@use '../variables' as variables;

.grid {
  display: grid;
  gap: map.get(variables.$spacing, 'xl');
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}